html, body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
/*
================================================
|                                              |
|                     Navbar                   |
|                                              |
================================================
*/

#navbar{
    background-color: #262626;
    padding: 8px 16px;
    color: #FFFFFF;
    text-align: center;
}

#navbar > header{
    font-size: 2.5rem;
}
#navbar > span{
    font-size: 2.5rem;
}

/*
================================================
|                                              |
|                     Panel                    |
|                                              |
================================================
*/

#panel{
    display: flex;
    overflow: hidden;
    background-color: #171717;
}

#panel > div{
    max-height: 100vh;
    overflow-y: auto;
}

/*
================================================
|                                              |
|                  Navigation                  |
|                                              |
================================================
*/

#navigation{
    width: 20%;
    overflow-y: auto; /* Add vertical scrollbar if content exceeds sidebar height */
    border-right: solid 0.6rem #262626;
    background-color: #181818;
}

/*
================================================
|                                              |
|                   Explorer                   |
|                                              |
================================================
*/

#explorer ul{
    list-style: none;
}

#explorer li > a{
    color: rgb(149, 152, 153);
    text-decoration: none;
}#explorer li:hover > a{
    color: #FFFFFF;
}


#explorer li > a:nth-child(2){
    float: right;
    margin-right: 1rem;
}

/*
================================================
|                                              |
|                    Content                   |
|                                              |
================================================
*/

#content{
    padding: 20px;
    width: 80%;
    color: rgb(213, 215, 216);
}

#content h1, #content h2, #content h3{
    color: rgb(255, 255, 255);
}

#content a{
    color: rgb(108, 187, 255);
    text-decoration: none;
}#content a:hover{
    color: rgb(181, 220, 255);
}


/*
================================================
|                                              |
|                     Misc                     |
|                                              |
================================================
*/