html, body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

/*
================================================
|                                              |
|                     Panel                    |
|                                              |
================================================
*/

#panel{
    display: flex;
    overflow: hidden;
    background-color: #1f1f1f;
    height: 100vh;
}

#panel > div{
    max-height: 100vh;
    overflow-y: auto;
}

#panel-left{
    padding: 0.5rem;
    width: 25%;
    overflow-y: auto; /* Add vertical scrollbar if content exceeds sidebar height */
    border-right: solid 0.1rem #ffffff30;
    background-color: #121212;
}#panel-left.screen-md{
    width: 35%;
}#panel-left.screen-sm
,#panel-left.screen-xs{
    width: 100%;
    display: none;
    position: absolute;
}

#panel-left.screen-sm.mobile
,#panel-left.screen-xs.mobile{
    display: block;
    height: 100%;
    border-right: none;
}

#panel-middle{
    width: 60%;
}#panel-middle.screen-md{
    width: 65%;
}#panel-middle.screen-sm
,#panel-middle.screen-xs{
    width: 100%;
}

#panel-middle.screen-sm.mobile
,#panel-middle.screen-xs.mobile{
    display: none;
}

#panel-right{
    width: 15%;
    color:white;
    background-color: #6a54a6;
}#panel-right.screen-md
,#panel-right.screen-sm
,#panel-right.screen-xs{
    display: none;
}

/*
================================================
|                                              |
|                     Logo                     |
|                                              |
================================================
*/

#logo{
    padding: 4px 8px;
    margin: 4px 8px;
    color: #FFFFFF;
    text-align: center;
    border-bottom: solid 0.1rem #ffffff6b;
}

#logo > header{
    font-size: 2.5rem;
}
#logo > span{
    font-size: 2.5rem;
}

/*
================================================
|                                              |
|                   Explorer                   |
|                                              |
================================================
*/

#explorer{
    padding: 4px 8px;
    margin: 4px 8px;
}

#explorer ul{
    list-style: none;
}

#explorer li{
    padding: 0.25rem 0;
}

#explorer li > a{
    padding: 0.2rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
}#explorer li:hover > a{
    color: #b8fee5;
    background-color: #b8fee51f;
}

#explorer li > a:nth-child(2){
    float: right;
    margin-right: 1rem;
}

#explorer .header{
    color: #69d2aa;
    font-size: larger;
    border-bottom: solid 0.1rem #ffffff30;
    font-style: italic;
    font-weight: bold;
}

#explorer .folder{
    color: #69d2aa;
    list-style: disc;
}#explorer .folder > a:nth-child(1){
    color: #6ef1bf;
}

#explorer .folder-opened{
    list-style: circle;
}#explorer .folder-opened > a:nth-child(1){
    font-style: italic;
    color: #54a686;
}

/*
================================================
|                                              |
|                 Mobile Navbar                |
|                                              |
================================================
*/

#mobile-navbar{
    position: fixed;
    padding: 0.5rem;
    width: 100%;
    background-color: #121212;
    display: none;
}#mobile-navbar.screen-xs
,#mobile-navbar.screen-sm{
    display: flex;
}
#mobile-navbar.mobile{
    display: none;
}

#mobile-navbar header{
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: right;
}

#mobile-navbar.screen-xs header{
    font-size: 1.5rem;
}

/*
================================================
|                                              |
|                 Mobile Burger                |
|                                              |
================================================
*/

.mobile-burger{
    float: left;
    width: 100%;
    display: none;
}

.mobile-burger img{
    width: 100%;
    max-width: 2.5rem;
    margin: 0.5rem;
}

.screen-sm .mobile-burger img{
    max-width: 3.5rem;
    margin: 0.5rem;
}

.screen-sm .mobile-burger
,.screen-xs .mobile-burger{
    display: block;
}

.mobile-burger > div{
    width: 100%;
    border-bottom: solid 0.1rem #ffffff64;
}

/*
================================================
|                                              |
|                 Mobile Break                 |
|                                              |
================================================
*/

#mobile-break.screen-sm{
    padding-top: 6rem;
}#mobile-break.screen-xs{
    padding-top: 5rem;
}

/*
================================================
|                                              |
|                 Content-Path                 |
|                                              |
================================================
*/

#content-path{
    padding: 20px 3rem;
    color: white;
    font-size: larger;
}

.screen-xs > #content-path{
    padding: 10px 1.5rem;
}

#content-path > a{
    padding: 0 0.25rem;
}

#content-path > a{
    color: #55bbff
}#content-path > a:hover{
    color: #b6e2ff
}

/*
================================================
|                                              |
|                    Content                   |
|                                              |
================================================
*/

#content{
    padding: 20px 3rem;
    color: rgb(213, 215, 216);
}

.screen-xs > #content{
    padding: 10px 1.5rem;
}

#content h1, #content h2, #content h3{
    color: rgb(255, 255, 255);
}

#content a{
    color: rgb(108, 187, 255);
    text-decoration: none;
}#content a:hover{
    color: rgb(181, 220, 255);
}

/*
================================================
|                                              |
|              Content-Navigation              |
|                                              |
================================================
*/

#content-navigation{
    width: 10%;
}